
{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}
<head>
  <link rel="stylesheet" type="text/plain" href="{{"css/main.css" }}">
  <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@bunbunjin_aisu" />
<meta name="twitter:title" content=""/>
<meta name="twitter:url" content="https://bunbunjin.github.io/portfolio.github.io" />
<meta name="twitter:description" content="bunbunjinのポートフォリオ" />
<meta name="twitter:image" content="https://bunbunjin.github.io/portfolio.github.io" />
</head>
<div class="splash-container">

  <div class="splash">

    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <!-- Replace MEEEEE -->

    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
